<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/main :: head('Login')"></head>
<body>
<!--/* Nav bar */-->
<div th:replace="partials/main :: navbar"></div>

<!--/* Alerts */-->
<div th:if="${param.error}" class="alert alert-danger text-center">
    Invalid username or password.
</div>

<!--/* Header */-->
<h1 class="text-center top-title">Create an Account</h1>

<!--/* Main Container */-->
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <!--/* Form Card */-->
            <div class="card card-signin my-5">
                <div class="card-body">
                    <!--/* Card Title */-->
                    <h5 class="card-title text-center">Register Form</h5>
                    <form class="form-signin" th:action="@{/register}" method="POST" th:object="${user}">
                        <div class="form-label-group d-flex">
                            <label for="username">Username</label>
                            <input class="ml-auto mt-2" id="username" th:field="*{username}"/>
                        </div>

                        <div class="form-label-group d-flex">
                            <label for="email">Email</label>
                            <input class="ml-auto mt-2" id="email" th:field="*{email}"/>
                        </div>

                        <div class="form-label-group d-flex">
                            <label for="password">Password</label>
                            <input class="ml-auto mt-2" id="password" type="password" th:field="*{password}"/>
                        </div>

                        <div class="form-label-group d-flex">
                            <label for="passwordConfirm">Confirm Password</label>
                            <input class="ml-auto mt-2" id="passwordConfirm" type="password" th:field="*{confirmPass}"/>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit"><i class="fas fa-check mr-2"></i>Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts-->
<div th:replace="partials/main :: scripts"></div>

<!-- Footer -->
<div th:replace="partials/main :: footer"></div>

</body>
</html>