<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Landing Page</h1>

Thaumaturgy(cleric)

Start
    1 spell slot
    slot level 1
**Cantrips**
    Eldritch Blast
    Chill Touch
**Spells**
    find Familiar (Pact Magic)
    first
    second

2nd level
    slot level 2
**Eldritch Invocations**
    Mask of Many Faces (disquise self at will)
    Agonizing Blast (adds Charisma mod to dam with Eldritch Blast)
**Spells**
    third

3rd level
    2 spell slots
    Pact of the Chain
**Spells**
    fourth

4th level
**Cantrips**
    Chill Touch
**Spells**
    fifth

5th level
    3 spell slots
**Eldritch Invocations**
    Armor of Shadows
**Spells**
    sixth

<div id="api_area"></div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="../static/js/test.js"></script>
</body>
</html>