<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Landing Page</h1>
1 Armor of Agathys abjuration (frost armor)
1 Charm Person enchantment (charm a person)
1 Expendious Retreat (run away fast)
1 Hellish Rebuke Evocation (surround fire of person who attacked me)
1 Hex enchantment ( disadvantage roll)
1 Witch Bolt evocation ( lightning damage )
Cintus cleric
Bigsby ranger
Arthas warlock
Murphy - Barb
Cram "betterthanyou" - Barb

10gp of charcoal
incense
herb
brass brazier

Start
    1 spell slot
    slot level 1
**Cantrips**
    Eldritch Blast
    Chill Touch
**Spells**
    find Familiar (Pact Magic)
    Witch Bolt Evocation
    Charm Person Enchantment

2nd level
    2 spell slots
**Eldritch Invocations**
    Agonizing Blast (adds Charisma mod to dam with Eldritch Blast)
    Eldritch Sight
**Spells**
    Hellish Rebuke

3rd level
    slot level 2
    Pact of the Chain
**Spells**
    third

4th level
    1 abil by 2 or 2 abils by 1
**Cantrips**
    Chill Touch
**Spells**
    fifth

5th level
    slot level 3
**Eldritch Invocations**
    Armor of Shadows
**Spells**
    sixth

<div id="api_area"></div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="../static/js/test.js"></script>
</body>
</html>